<!doctype html>

<html>
  <head>
    <title>{{titleBarName}}</title>
    <meta charset="utf-8"/>
    <link href="Toast/Toast.css" type="text/css" rel="stylesheet"/>
    <link href="style.css" type="text/css" rel="stylesheet"/>
    <link href="colors.css" type="text/css" rel="stylesheet"/>
    <script>require('hydrogen-helpers/init');</script>
    <script src="Toast/Toast.js"></script>
    <script src="interface.js"></script>
  </head>
  <body>
    <div id="tabs">
      <div id="tabHeaders"></div>
      <div id="tabConts"></div>
    </div>
    <script src="projectManager.js"></script>
    <script src="main.js"></script>
  </body>
</html>
